@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section head {
    <link rel="stylesheet" href="~/css/index.css" type="text/css"/>
}

<div id="main">
    <nav class="m-3">
        <form method="get">
            @Html.DropDownList("connection", Model.ConnectionSelect, string.Empty, new { @class = "form-control", onchange = "this.form.submit()" })

            @if (Model.RecentObjects != null)
            {
                <ul>
                    @foreach (var obj in Model.RecentObjects)
                    {
                        <li>
                            <a href="?eventId=@obj.LastEventId&connection=@Model.Connection">@obj.DisplayName</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Please choose a connection</p>
            }
        </form>
    </nav>
    <article class="m-3">
        <p>This is the main body</p>
    </article>
</div>

