@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section head {
    <link rel="stylesheet" href="~/css/index.css" type="text/css"/>
}

<div id="main">
    <nav class="m-3">
        <form method="get">
            @Html.DropDownList("ConnectionName", Model.ConnectionSelect, string.Empty, new { @class = "form-control"})
        </form>
    </nav>
    <article class="m-3">
        <p>This is the main body</p>
    </article>
</div>

